rest-model/src/main/resources/xsd/customer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CustomerList" type="CustomerListType"/>
    <xs:complexType name="customerType">
        <xs:sequence>
            <xs:element type="xs:string" name="firstname" minOccurs="0"/>
            <xs:element type="xs:string" name="lastname" minOccurs="0"/>
            <xs:element type="xs:string" name="customerUrl" minOccurs="0"/>
            <xs:element type="customerType" name="customer" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomerListType">
        <xs:sequence>
            <xs:element type="customerType" name="customer"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>